.main-section{background: linear-gradient(90deg, #d53369 0%, #daae51 100%);}

.theme-btn{background: linear-gradient(90deg, #d53369 0%, #daae51 100%);}
.pricing-section .m-card{transform: scale(1.1);}